button {
    height: 60px;
    width: 60px;
    font-size: 25px;
    border-radius: 30px;
    border: none;
    color: white;
    background-color: rgb(60, 60, 60); 
    margin-right: 10px;
    transition: background-color 0.15s;

}

button:hover {
    background-color: rgb(103, 103, 103);
}

.fifth-row button {
    font-size: 15px;
}

.action-button {
    background-color: orange;
}

.action-button:hover {
    background-color: rgb(255, 193, 77);
}